        <div class="content_middle">
        	<img src="/images/front/customer_support.gif" />
                <br/>
                <br/>
        	<h3>FAQ</h3>
<br/>

<h3>1 Shipping costs</h3>


<p>We ship product daily using most of the major shipping names and forms. Product can be shipped air or ground by the normal carriers like UPS, Fed Ex and DHL and the freight carriers for the larger and heavier orders. Our preferred air and ground shipper is UPS, but we do use Fed Ex and DHL daily. We use many different freight carriers depending on the service offered and cost. The Fed Ex office is about a mile away and we do use them for late shipping air orders. We are open late to ship 90% of our orders on the same day they were ordered. Most printers go to the refurbishing process after the order is made. Depending on the size and complexity of the particular printer you ordered, it can take from a few hours to a couple of days to prepare the printer or printers. Freight items usually have a cuttoff at around 3:00 p.m central time. If you have a special shipping need please contact us, we will do all possible to assist. Costs to ship goods are inclusive of all associated costs. Boxing, packing, labor, oversize box fees, heavyweight fees, fuel surcharges and the sometimes biyearly price increases from the shipping carriers. Freight shipments can involve many cost factors like your zip code, if the freight is going residential or business, if you will require a tailgate, if you have a 4 foot high loading dock, and if you would like indoor delivery. Please remember these are semi truck drivers not delivery people. The customer is responsible for ALL shipping charges.
</p>
<h3>2 Compatability</h3>

<p>
When dealing with parts orders, we do all possible to assist you in ordering the correct part. Without the customer providing us with the correct part number you are ultimately responsible for the part and its shipping costs. Please provide us with the best description possible or a drawing or a picture would also be helpful. Please email us or call us if you have questions. 
</p>
<p>
<h3>Warranty:</h3>
</p>
<p>
Electronic parts, ie; integrated circuit boards, are thoroughly tested and certified to be working before they leave our warehouse. They are shipped in anti static bags and great care is taken to protect them from shock. We do not offer a warranty on them as we cannot control how they will be handled or installed. If a part does include a warranty it will be included on the product page only.  If you need to return the product for any reason please follow the return process.
</p>
<p>
Printers: Printers classified as “refurbished” on this website come with a 90 day warranty. The Warranty starts the day of purchase and will run a full 90 days. The warranty includes parts and labor. It does NOT include: replacement of consumables such as toner, drums, fusers, or paper; repair to any service done outside of the product such as program software, applications, or any peripheral devices added to the product; repair to any damage from service performed by other that The Printer Depot’s authorized servicer; repair to any damage caused by shipping (if insurance was purchase please contact the carrier), electricity, fire, flood, or any other hazards. There are several security markings on each of our products to know if the product has been tampered with. Any tampering automatically voids any warranty. The Printer Depot has the right to revise and change the warranty policy at any given time.  
</p>
<p>
<h3>Return Policy:</h3>
</p>
<p>
Our main goal is to satisfy our customers. Our return policy tries to be as accommodating as possible during this process. We do strive for a 100% quality standard. If you feel that your item is defective, you should contact us within the warranty period for a possible exchange or refund. We will issue and RMA#, return merchandise authorization number.  
</p>
<p>
<b>Q. How do I obtain a Return Merchandise Authorization number?</b>
A. You can obtain an RMA number by one of three ways. Representatives are available to process your request by calling (972)494-3300. Fax your request to the team at (972)494-3366. Fax requests are usually processed within 24 hours. You can also email your requests to rma@theprinterdepot.net 
</p>
<p>
<b>Q. What information do I need to obtain an RMA?</b>
A. You will need the invoice number or account number and PO. If you do not have this, a search may be done using the product number in most cases.
</p>
<p>
<b>Q. Am I charged a restocking fee? </b>
A. All products are subject to a 25% restocking charge depending on the issues at hand which will be determined by The Printer Depot.  For printers a 25% restocking fee will be charged if: printer is damaged on the way back to The Printer Depot due to poor packaging, if there are parts missing (you could also be eligible for NO refund), if the product tests in good condition when it was being returned as defective, if the printer is defective when the printer is to be returned in good condition, if the printer is being returned due to the fact that toners, drums, or cables are not included with the purchase of the printer. You will not be credited back if the serial numbers do not match or if the printer has been tampered with.
</p>
<p>
<b>Q. Once I have my RMA number what do I do next? </b>
A. All returns must be labeled with the RMA number in order to insure credit. Do not write directly on the product, it must be in resalable condition or The Printer Depot will not accept it. The customer is responsible for shipping charges from customer to The Printer Depot. The Printer Depot will ship the product back to the customer at NO charge to the customer. Reference the number on the shipping label or on the box. Product is then shipped back to the Garland facility as follows: 
</p>
 <p>
The Printer Depot                                                                               ATTN: RMA Dept.                                                                                   3755 Marquis Drive Suite 101                                                              Garland, TX 75042
</p>
<p>
<b>Q. Once I send the product back how do I get my credit? </b>
A. the RMA number will turn into the credit memo when the product is received and checked in to our return facility.
</p>
<p>
<b>Q. I am a credit card customer, is my credit applied directly to my card? </b>
A. Yes, it will be applied back to your card. Please keep in mind the complete process takes approximately two weeks.
</p>
<p>
<b>Q. I ordered one product but got something else, what do I do now? </b>
A. Our distribution centers have a 99.5% accuracy rate. Unfortunately, there are times when a wrong pull of an item occurs. If this happens, call customer service as you would for an RMA and explain to the Representative what happened. They will need a part number or a detailed description of the product that was received in error. All errors need to be reported within five business days of receipt of goods.
</p>
<p>
<b>Q. What else can Customer Service help me with? </b>
A. Customer Service supports the sales department. Representatives are available to help you with returns, warehouse errors, tracking information, serial numbers and credits.
</p>
<p>
<b>Q. I ordered one product but got something else, what do I do now? </b>
A. Our distribution centers have a 99.5% accuracy rate. Unfortunately, there are times when a wrong pull of an item occurs. If this happens, call customer service as you would for an RMA and explain to the Representative what happened. They will need a part number or a detailed description of the product that was received in error. All errors need to be reported within five business days of receipt of goods.
</p>
<p>
<b>Q. I received my order but some product is missing? </b>
A. If your order is not complete and all packages have been delivered, call our customer service team to receive a pending credit number. This must be reported within five days of receiving the order. The Printer Depot’s Warehouse Research team will make the determination on the shortage claim. This process takes 7-14 business days. Approved credits will be mailed to you. Denied credits are explained in a letter outlining the information that the decision was based on.
</p>
<p>
<b>Q. Once my order is placed can I cancel it? </b>
A. Due to the quick turnaround time in which orders are processed we cannot guarantee the cancellation of an order.
</p>
<p>
<b>Q. Is my order guaranteed to arrive the next day?</b> 
A. Only if you called in a priority order.
</p>
<p>
<b>Q. I haven’t gotten my order and when I track it I can’t tell where it is? </b>
A. A tracer needs to be started to determine where the order is and takes 8-10 business days for the carrier to resolve. This is also the process followed for miss-delivered packages and a denial of signatures. Be sure to have a contact name and phone number of where the package should have been delivered. The information is for the carriers use only.
</p>
<p>
<b>Q. Can I get a copy of the invoice? </b>
A. Yes, this information can be obtained by calling or emailing your representative, they will quickly respond. 
</p>
<p>
Items can be purchased from The Printer Depot in many forms.
</p>
<p>
For example, factory OEM new, refurbished, tested working ONLY and sold as is. All of these varieties have their own warranties or no warranty. Please know what you are buying.
</p>
<p>
a. "AS IS"- No warranty at all on these items. No returns or exchanges allowed.
</p>
<p>
b. "TESTED WORKING" The warranty is usually 7 day DOA warranty, the product can only be exchanged or return if the product is dead on arrival, meaning that is does not power on at all, no lights or anything, dead. Be sure to check if your specific item is “Tested Working”. There is no performance warranty on these items. These are great items for a technician to refurbish and get to a good operating standard. They are by no means ready to ship to an end user.
</p>
<p>
C. "REFURBISHED" Usually come with a 90 day warranty; see your specific item description.
</p>
<p>
d. "NEW" Check with the specific manufacturer for the warranty details. Most of these items also come with a 90 day warranty.
</p>
<p>
*The Printer Depot will adhere to these policies and procedures and will not waiver under any circumstance. The Printer Depot employees are not authorized to make any statements that are inconsistent with these said policies and procedures. Any such statements are void. 
</p>
</div>