   	    <!-- =======content middle=======-->
        <div class="content_middle">
        	<img src="/images/front/customer_support.gif" />
                <br/>
                <br/>
        	<h3>Contact Us</h3>
<br/>
<h3>Contact us by mail</h3>

            <p>The Printer Depot</p>
            <p>3755 Marquis Drive Suite 101</p>
            <p>Garland, TX 75042</p>
<br/>
<h3>Contact us by phone</h3>
            <p>Phone: 972-494-3300</p>
            <p>Fax: 972-494-3366</p>
            <p>Toll free number: 1-877-900-4677</p>
<br/>

<h3>Contact us by email</h3>
<p><b>Sales:</b></p>
<p><a href="mailto:gabe@theprinterdepot.net">gabe@theprinterdepot.net</a></p>
<p><a href="mailto:christopher@theprinterdepot.net">christopher@theprinterdepot.net</a></p>
<p><b>Shipping & Returns:</b></p>
<p><a href="mailto:ashley@theprinterdepot.net">ashley@theprinterdepot.net</a></p>
<p><b>Website Support:</b></p>
<p><a href="mailto:support@theprinterdepot.net">support@theprinterdepot.net</a></p>

            <!-- a href="" class="link">Link</a><br />
            <a href="" class="link">Link2</a -->
          </div>
   	    <!-- =======end of content middle=======-->
