   	    <!-- =======content middle=======-->
        <div class="content_middle">
        	<img src="/images/front/customer_support.gif" />
                <br/>
                <br/>
        	<h3>Refurbishing Process</h3>

<p>Each printer is disassembled, blown free of toner, dust and debris and inspected by two technicians a minimum of 200 pages each. The laser scanner is cleaned and the fuser assembly is refurbished by cleaning, relubricating and replacing the fuser film when necessary. The pickup rollers, feed rollers and separation pads are replaced with new ones and then paper path tests are performed on all sources including all trays and duplexer. The network card is then tested and updated to the latest firmware version. The formatter board is also updated to the latest version when applicable. The outside of the printer is cleaned and finally professionally boxed with foam in place.</p>
</div>