   	    <!-- =======content middle=======-->
        <div class="content_middle">
        	<img src="/images/front/customer_support.gif" />
                <br/>
                <br/>
        	<h3>Shipping and returns</h3>
<br/>
<h3>Please Read the Following RMA Policy:</h3>

<p>1.	All products being returned to The Printer Depot MUST have and RMA number. The RMA number must be clearly marked on the outside of the returned package. Packages will not be accepted without a RMA number appearing on the outside of the box.</p>
<p>2.	All products MUST be properly packed for shipping. Improper packaging will void any warranty. </p>
<p>3.	Keep return tracking number for the proof of delivery.</p>
<p>4.	For RMA status please email RMA@THEPRINTERDEPOT.NET</p>
<p>5.	All returned merchandise must be the originally received product. We have two ways to tell if the product is The Printer Depot.s.</p>
<p>6.	All products are subject to a 25% restocking fee.</p>
<p>7.	Credit will be given upon arrival after testing; this may take up to two weeks.</p>
<p>8.	Credit will be given in the same form as payment was received.</p>

<a href="/docs/RMAFORM.xls" class="link">Download RMA Forms</a>

</div>