        <div class="content_middle">
        	<img src="/images/front/customer_support.gif" />
                <br/>
                <br/>
        	<h3>Warranties</h3>
<br/>


<p>Warranty:</p>

<p>Electronic parts, ie; integrated circuit boards, are thoroughly tested and certified to be working before they leave our warehouse. They are shipped in anti static bags and great care is taken to protect them from shock. We do not offer a warranty on them as we cannot control how they will be handled or installed. If a part does include a warranty it will be included on the product page only.  If you need to return the product for any reason please follow the return process.
</p>
<p>Printers: Printers classified as “refurbished” on this website come with a 90 day warranty. The Warranty starts the day of purchase and will run a full 90 days. The warranty includes parts and labor. It does NOT include:  replacement of consumables such as toner, drums, fusers, or paper; repair to any service done outside of the product such as program software, applications, or any peripheral devices added to the product; repair to any damage from service performed by other that The Printer Depot’s authorized servicer; repair to any damage caused by shipping (if insurance was purchase please contact the carrier), electricity, fire, flood, or any other hazards. There are several security markings on each of our products to know if the product has been tampered with. Any tampering automatically voids any warranty. The Printer Depot has the right to revise and change the warranty policy at any given time.  
</p>
<p>a. "AS IS"- No warranty at all on these items. No returns or exchanges allowed.</p>

<p>b. "TESTED WORKING" The warranty is usually 7 day DOA warranty, the product can only be exchanged or return if the product is dead on arrival, meaning that is does not power on at all, no lights or anything, dead. Be sure to check if your specific item is “Tested Working”. There is no performance warranty on these items. These are great items for a technician to refurbish and get to a good operating standard. They are by no means ready to ship to an end user.
</p>
<p>C. "REFURBISHED" Usually come with a 90 day warranty; see your specific item description.
</p>
<p>d. "NEW" Check with the specific manufacturer for the warranty details. Most of these items also come with a 90 day warranty.
</p>
</div>