            <!-- =======content middle=======-->
        <div class="content_middle">
                <img src="/images/front/customer_support.gif" />
                <br/>
                <br/>
                <h3>Why buy from The Printer Depot</h3>

<p>
The printer depot is dedicated to meeting all of your imaging needs. We carry the most popular brands and models of new and refurbished laserjet, solid ink and dot matrix printers, multifunction devices and wide formatt plotters. Brands like, HP, Xerox, IBM, Lexmark, Epson and Okidata. And all the parts and accessories you will need to maintain your equipment at the best wholesale prices.
</p>
<p>
     The Printer Depot is uniquely qualified to be the wholesale supplier of imaging supplies to small and medium businesses, school districts, city, state and federal government agencies and service organizations. We specialize in printer sales throughout North America with over 10,000 printers in stock, and parts sales throughout the entire planet.
</p>
<p>

     With over 17 years of experience in this industry, we have the knowledge and expertise to assist you. In our refurbishing process, we sthrive to continously improve our quality standards with use of the highest quality parts and extensive testing prior to shipping. Boxing and packing have also undergone hundreds of improvements to assure your printers' safe arrival.

</p>
</div>
