<div class="content_shopping_checkout">
    <h2>Thank you for order</h2>
    <br/>
<p>An email has been sent to <%= current_user.email %> with your order details. <br/>
Once your order is shipped we'll send you an email with the tracking code provided by the chosen carrier.</p>
</div>
