    <link rel="stylesheet" type="text/css" href="javascripts/ext/examples/lib.css" />
    <link rel="stylesheet" type="text/css" href="javascripts/ext/resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/back_end.css" / -->
    <!-- link rel="stylesheet" type="text/css" href="stylesheets/examples.css" / -->

    <script type="text/javascript" src="javascripts/ext/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="javascripts/ext/ext-all.js"></script>
    <script type="text/javascript" src="javascripts/tpd/specs_view.js"></script>



<div id="tabs"></div>
<div id="form-alone"></div>
