<html>
<head>
  <title>Custom Layouts and Containers - Portal Sample</title>
	<link rel="stylesheet" type="text/css" href="javascripts/ext/resources/css/ext-all.css" />

    <!-- GC -->
 	<!-- LIBS -->
 	<script type="text/javascript" src="javascripts/ext/adapter/ext/ext-base.js"></script>
 	<!-- ENDLIBS -->

    <script type="text/javascript" src="javascripts/ext/ext-all.js"></script>

    <script type="text/javascript" src="javascripts/ext/examples/portal/Portal.js"></script>
    <script type="text/javascript" src="javascripts/ext/examples/portal/PortalColumn.js"></script>
    <script type="text/javascript" src="javascripts/ext/examples/portal/Portlet.js"></script>
    <link rel="stylesheet" type="text/css" href="javascripts/ext/examples/portal/portal.css" />

    <link rel="stylesheet" type="text/css" href="sample.css" />
	<script type="text/javascript" src="javascripts/ext/examples/portal/sample.js"></script>
	<script type="text/javascript" src="javascripts/ext/examples/portal/sample-grid.js"></script>
</head>
<body>
<script type="text/javascript" src="javascripts/ext/examples/examples.js"></script><!-- EXAMPLES -->
<% # = # javascript_include_tag "ext/examples/examples.js" %>
</body>
</html>
