    <!-- =======content middle=======-->
    <div class="content_shopping_checkout">
      <h3> Change your password </h3>

      <% form_tag session_path, {:name => 'changepwdform', :class => 'login' } do -%>
      <!-- form action="/session" method="post" class="login" -->
        <!-- label>
          <b for="email"> Email </b>
          <%= text_field_tag 'email' %>
        </label>
        <label> <b> Password </b>
          <%= f.password_field :crypted_password %>
        </label>
        <label> <b> Confirm Password </b>
          <%= f.password_field :crypted_password %>
        </label>
        <b>&nbsp;</b>
        <a href="javascript:document.loginform.submit();" class="general_button"><span class="cierre_boton_checkout"></span><b>Log in</b></a></label>
      <% end %>
      <br -->
      <p>Forgot your password?</p> <br>
          <p>Enter your email address and a new password will be sent to you</p>
      <% form_tag :url => { :controller => 'users', :action => 'new_password' }, :html => { :class => 'signup', :name => 'signupform' } do |f| -%>
        <small> Fields in bold are required </small><br />
        <label> <b> Email </b>
          <%= f.text_field :email, :size => 20 %>
        </label>
        <label><b>&nbsp;</b><a href="javascript:document.signupform.submit();" class="general_button"><span class="cierre_boton_checkout"></span><b>Sign up</b></a></label>
      <% end %>
    </div>
    <!-- =======end of content middle=======-->
