    <!-- =======content middle=======-->
    <div class="content_shopping_checkout">
      <h3>Forgot your password?</h3>
<% if @error %>
<p style="color:#BF0500"><b><%= @error %></b></p>
<% end %>
<% if @user.nil? %>
          <p>Enter your email address and a new password will be sent to you immediately</p>
      <% form_tag :url => { :controller => 'users', :action => 'password_forgotten' }, :html => { :class => 'signup', :name => 'forgottenform' } do %>
    <% # form_remote_tag :url => { :action => "password_forgotten"},
# :html => {:name => "forgottenform"} do %>
        <!-- small> Fields in bold are required </small><br /-->
        <label> <b> Email </b>
          <%= text_field_tag :email, '', :size => 20 %>
        </label>
        <label><b>&nbsp;</b>
          <%= submit_tag "Send" %>
<!-- a href="javascript:document.forgottenform.submit();" class="general_button">
<span class="cierre_boton_checkout"></span><b>Send</b></a--></label>
      <% end %>
<% else %>
<p>Please check your email for instructions on how to have a new password</p>
<% end %>
    </div>
    <!-- =======end of content middle=======-->
