    <!-- /////////////LAYOUT ////////////-->
    <div class="layout">
       <%= render :partial => 'shared/cart_left' %>
       <%= yield %>
    </div>
    <!-- /////////////END OF LAYOUT////////////-->
