<% if show_component_for_uri?("context_box_footer", @uri) %>
	<div class="box_footer">
    	<div class="content_box_footer">
            <ul>
                <li class="heading_box_footer">Customer Support</li>
                <li><a href="/customer_support">Contact Us</a></li>
                <li><a href="/customer_support">Customer Service</a></li>
                <li><a href="/customer_support/faq">FAQ</a></li>
                <li><a href="/customer_support/shipping_and_returns">Shipping & Returns</a></li>
                <li><a href="/customer_support">About Us</a></li>
             </ul>
            <ul>
                <li class="heading_box_footer">Specials</li>
                <li><a href="/customer_support/refurbishing">Refurbishing Process</a></li>
                <li><a href="/customer_support/warranties">Warranties</a></li>
                <li><a href="/customer_support">Promotions</a></li>
                <li><a href="/customer_support">Wholesales</a></li>
                <li><a href="/customer_support">Our brands</a></li>
             </ul>
            <ul>
                <li class="heading_box_footer">Top Products</li>
                <li><a href="/customer_support">Top Sellers</a></li>
                <li><a href="/customer_support">Hot Products</a></li>
                <li><a href="/customer_support">Laser Printers</a></li>
                <li><a href="/customer_support">Toners</a></li>
                <li><a href="/customer_support">Refurbished Printers</a></li>
             </ul>
            <!-- ul>
                <li class="heading_box_footer">Lorem Ipsum</li>
                <li><a href="">Warranties fellinesgh</a></li>
                <li><a href="">Larens terion</a></li>
                <li><a href="">Warranties fellinesghn</a></li>
                <li><a href="">LaWarranties fellinesghrion</a></li>
                <li><a href="">Larens terion</a></li>
             </ul -->
         </div>
         <div class="bottom_box_footer"></div>
    </div>
<% end %>
    <div class="footer">
    	<a href="">Privacy</a>|<a href="">Terms of services</a>|<a href="">Site Map</a>
        <p>Copyright © 2008. Printer Depot. All rights reserved.<br />
All products names throuthout this catalog are trademarks of their respective holders. Click here to read full legal declaimer.</p>
    </div>
    
