    <!-- /////////////LAYOUT ////////////-->
    <div class="layout">
       <%= render :partial => 'shared/left' %>
       <%= yield %>
       <% #= render :partial => 'shared/content_catalog' %>
       <%= render :partial => 'shared/right' %>

    </div>
    <!-- /////////////END OF LAYOUT////////////-->
