   	    <!-- =======left column=======-->
    	<div class="left_column">
            <%= render :partial => 'shared/cart' %>

            <!-- list categories -->
            <%= render :partial => 'shared/categories' %>
            <!-- end of list categories -->

             <!-- news -->
            <div class="news">
            	<h5>The Printer Depot newsletter</h5>
                <p>The weekly newsletter to help you learn more about technology and cool promotions.</p>
                <input type="text" style="width: 120px;" value="Your email address"/>
                <input class="sing_up"type="button" value="Sign up" />
            </div>
            <img src="/images/front/sponsors.gif" title="We proudly accept" />
        </div>
   	    <!-- ======= end of left column=======-->
