            <!-- =======right column=======-->
        <div class="right_column">
                <div class="banner1">
                <a href="/customer_support/why_buy_from_tpd">
                <!-- img src="images/front/why_buy_banner.jpg" / -->
                <%= image_tag "front/why_buy_banner.jpg" %>
                </a>
            </div>
            <div class="banner2">
                <a href=""><%= image_tag "front/right_banner.gif" %></a>
            </div>
            <!-- div class="marketplaces">
            </div -->
            <div class="your_security">
                <!-- h6>Your security</h6>
                <p>Shop with confidence! We guarantee that every transaction you make at The Printer Depot will be 100% safe </p -->
<script src=https://seal.verisign.com/getseal?host_name=www.theprinterdepot.net&size=M&use_flash=YES&use_transparent=YES&lang=en></script><br />
<a href="http://www.verisign.com/ssl-certificate/" target="_blank"  style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;">ABOUT SSL CERTIFICATES</a>
            </div><!---->
        </div>
            <!-- =======right column=======-->
