            <div class="list_categories">
            <span class="list_categories_border"></span>
            	<h4>Printers</h4>
                <div class="content_categories">
                    <dl style="width: 138px;">
                        <dt>Categories</dt>
                        <% for cat in @categories %>
                            <dd><%= cat.text %></dd>
                        <% end %>
                            <!-- dd>Color laser prints</dd>
                            <dd>Laser Printers</dd>
                            <dd>Inkjet Printers</dd>
                            <dd>Photo Printers</dd>
                            <dd>Dot Matrix Printers</dd>
                            <dd>Multifunction Printers</dd>
                            <dd>Line Printers</dd>
                            <dd>Plotters Printers</dd>
                            <dd>Label Printers</dd>
                            <dd>Refurbished Printers</dd -->
                            
                        <dt>Supplies</dt>
                            <dd>Toner</dd>
                            <dd>Inkjet Cartridges</dd>
                            <dd>Cables</dd>
                            <dd>Paper</dd>
                            <dd>Plotter Paper</dd>
                            <dd>Accessories</dd>
                            <dd>All</dd>
                         
                        <dt>Brands</dt>
                            <dd>Brother</dd>
                            <dd>Dell</dd>
                            <dd>Epson</dd>
                            <dd>HP</dd>
                            <dd>Canon</dd>
                            <dd>IBM</dd>
                            <dd>Samsung</dd>
                            <dd>Xerox</dd>
                            <dd>All</dd>         
                    </dl>
            	</div>
            </div>
