	<div class="header">
		<div>
    		<a class="logo"><img src="imagenes/The Printer Depot logo.gif"/></a>
        	<form>
        		<p>Email:</p><input type="text" />
            	<p>Password:</p><input type="password" />
            	<input class="login" type="submit" value="Log in"/>
        	</form>
            <a href="" class="create_new_account">Create a New Account</a>
        	<div class="menu">
            	<div class="menu_left_border"></div><div class="menu_right_border"></div>
        		<ul>
                	<li><a href="">CONTACT US</a>|</li>
                	<li><a href="">FAQ</a>|</li>
                    <li><a href="">CUSTOMER SERVICE</a>|</li>
                    <li><a href="">OUR COMPANY</a></li>
            	</ul>
                
        	</div>
        </div>
        
    </div>
