    <!-- /////////////LAYOUT ////////////-->
    <div class="layout">
       <%= render :partial => 'left' %>
       <%= yield %>
       <% #= render :partial => 'content_catalog' %>
       <%= render :partial => 'right' %>

    </div>
    <!-- /////////////END OF LAYOUT////////////-->
