    <div class="promo">
    
    	<div class="border_top">
        </div>
        <div class="center_promo">
        	<a href="" class="left_arrow"></a>
        	<div class="promo_box">
            	<img src="imagenes/promo_imagen_box1.png" />
                <div class="promo_description">
                	<p class="brand">Lexmark W812DTN</p><a href="" class="product_information"></a>
                    <p class="product">Laser Printer</p>
                    <p class="only">ONLY</p>
                    <p class="prize">$399.<span>99</span></p>
                    <p class="before">Before:<span>450.00</span></sub></p>
                    <a href="" class="button_promo"><span class="cierre_boton_promo"></span><b>Buy Now !</b></a>
                </div>  
            </div>
            <div class="division_promo"></div>
            <a href="" class="right_arrow"></a>
            <div class="promo_box">
            	<img src="images/front//promo_imagen_box2.png" />
                <div class="promo_description">
                	<p class="brand">HP LJ 3200 PRINTER</p><a href="" class="product_information"></a>
                    <p class="product">Copier / Fax / Scanner</p>
                    <p class="only">ONLY</p>
                    <p class="prize">$299.<span>99</span></p>
                    <p class="before">Before:<span>450.00</span></sub></p>
                    <a href="" class="button_promo"><span class="cierre_boton_promo"></span><b>Buy Now !</b></a>
                </div>  
            </div>
        </div>
        <div class="border_bottom">
        </div>
    	<div class="promo_menu">
    		<a href="" class="active"><b></b>1&nbsp;&nbsp;&nbsp;2</a>
        	<a href="">3&nbsp;&nbsp;&nbsp;4</a>
        	<a href="">5&nbsp;&nbsp;&nbsp;6</a>
            <p>|</p>
            <a href="" class="pause"></a>
        	<a href="" class="stop"></a>
          	<span class="menu_border_bottom"></span>
    	</div>
    </div>  