   	    <!-- =======right column=======-->
        <div class="right_column">
        	<div class="banner1">
            	<a href=""><img src="images/front//why_buy_banner.jpg" /></a>
            </div>
            <div class="banner2">
            	<a href=""><img src="images/front//promo_banner1.jpg" /></a>
            </div>
            <div class="your_security">
            	<h6>Your security</h6>
                <p>Shop with confidence! We guarantee that every transaction you make at The Printer Depot will be 100% safe </p>
            </div><!---->
        </div>    
   	    <!-- =======right column=======-->
