    <!-- /////////////SEARCH////////////-->
   <div class="search">
   	<div class="search_by"><p>Search by:</p><input type="text" /><a href="" class="search_go"><span class="cierre_boton_checkout"></span><b>GO</b></a>
	</div>
   	<div class="search_by">
    	<p>Brand:</p>
        <div class="search_box">
        	<a href="" class="drop_up"></a>
            <ul>
            	<li>HP</li>
                    <li><a href=""><span></span>Lexmark</a></li>
                    <li><a href=""><span></span>Brother</a></li>
                    <li><a href=""><span></span>Lenovo</a></li>
                    <li class="see_all"><a href="">See all</a></li>
            </ul><div class="search_bottom_box"></div>
        </div>
        
    </div>
   	<div class="search_by">
    	<p>Product:</p>
        <div class="search_box">
          	<a href="" class="drop_down"></a>
            <ul>
            	<li>Printers</li>
            </ul><div class="search_bottom_box"></div>
        </div>
    </div>
   	<div class="search_by">
    	<p>Funcionality:</p>
        <div class="search_box">
          	<a href="" class="drop_down"></a>
            <ul>
            	<li>Multifunctional</li>
            </ul><div class="search_bottom_box"></div>
        </div>
    </div>
   	<div class="search_by">
    	<p>Price:</p>
        <div class="search_box">
          	<a href="" class="drop_down"></a>
            <ul>
            	<li>$50-$100</li>
            </ul><div class="search_bottom_box"></div>
        </div>
    </div>
   <div class="search_help">
    	<a href="" class="search_help_button"></a>
        <div class="help_information">
        	 <div class="border_top">
            </div>
           <div class="help_content">
            	<a href="" class="help_close_button"></a>
                <img src="images/front//search_help_image.gif" />
                <h3>Lorem Isum</h3>
                <div class="help_step_information">
                	<span>1</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="help_step_information">
                	<span>2</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="help_step_information">
                	<span>3</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="help_step_information">
                	<span>4</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
    </div>
   </div>
    <!-- ///////////// END OF SEARCH////////////-->
