   	    <!-- =======content middle=======-->
        <div class="content_middle">
        	<h3>What's Hot On The Printer Depot</h3>
       <%= render :partial => 'hot_catalog' %>

            
        	<h3>Printer Top Sellers</h3>
       <%= render :partial => 'shared/catalog' %>
       </div>
