<h1>Editing order</h1>

<%= error_messages_for :order %>

<% form_for(@order) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>
