<h2>The Printer Depot</h2>
Everything for your imaging needs.
<br /><br />
Hi,<br/>
We've confirmed your order (#<%= @order.id %>) and we'd like to let you know
that it will ship soon.

Thank you,
The Printer Depot.
