<h2>The Printer Depot</h2>
Everything for your imaging needs.
<br /><br />
Dear <%= @user.firstname %>,<br/>
You can change your password
<a href="https://www.theprinterdepot.net/users/<%= @user.id %>/password_new?i=<%= @user.password_key %>">
here</a>
<br /><br />
<br/><b>
<a href="http://www.theprinterdepot.net">The Printer Depot [www.theprinterdepot.net]</a>
</b>

