<h1>Listing warranties</h1>

<table>
  <tr>
  </tr>

<% for warranty in @warranties %>
  <tr>
    <td><%= link_to 'Show', warranty %></td>
    <td><%= link_to 'Edit', edit_warranty_path(warranty) %></td>
    <td><%= link_to 'Destroy', warranty, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New warranty', new_warranty_path %>
