<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="TPD.css" type="text/css" rel="stylesheet" />
<title>The Printer Depot</title>
</head>

<body>

<div class="content">

	<div class="header">
		<div>
    		<a class="logo"><img src="imagenes/The Printer Depot logo.gif"/></a>
        	<form>
        		<p>Email:</p><input type="text" />
            	<p>Password:</p><input type="password" />
            	<input class="login" type="submit" value="Log in"/>
        	</form>
        	<div class="menu">
            	<div class="menu_left_border"></div><div class="menu_right_border"></div>
        		<ul>
                	<li><a href="">CONTACT US</a>|</li>
                	<li><a href="">FAQ</a>|</li>
                    <li><a href="">CUSTOMER SERVICE</a>|</li>
                    <li><a href="">OUR COMPANY</a></li>
            	</ul>
                
        	</div>
        </div>
        
    </div>
    
    <div class="promo">
    
    	<div class="border_top">
        </div>
        <div class="center_promo">
        	<a href="" class="left_arrow"></a>
        	<div class="promo_box">
            	<img src="imagenes/promo_imagen_box1.png" />
                <div class="promo_description">
                	<p class="brand">Lexmark W812DTN</p><a href="" class="product_information"></a>
                    <p class="product">Laser Printer</p>
                    <p class="only">ONLY</p>
                    <p class="prize">$399.<span>99</span></p>
                    <p class="before">Before:<span>450.00</span></sub></p>
                    <a href="" class="button_promo"><span class="cierre_boton_promo"></span><b>Buy Now !</b></a>
                </div>  
            </div>
           
            
            <div class="division_promo"></div>
            <a href="" class="right_arrow"></a>
            <div class="promo_box">
            	<img src="imagenes/promo_imagen_box2.png" />
                <div class="promo_description">
                	<p class="brand">HP LJ 3200 PRINTER</p><a href="" class="product_information"></a>
                    <p class="product">Copier / Fax / Scanner</p>
                    <p class="only">ONLY</p>
                    <p class="prize">$299.<span>99</span></p>
                    <p class="before">Before:<span>450.00</span></sub></p>
                    <a href="" class="button_promo"><span class="cierre_boton_promo"></span><b>Buy Now !</b></a>
                </div>  
            </div>
        </div>
        <div class="border_bottom">
        </div>
    	<div class="promo_menu">
    		<a href="" class="active"><b></b>1&nbsp;&nbsp;&nbsp;2</a>
        	<a href="">3&nbsp;&nbsp;&nbsp;4</a>
        	<a href="">5&nbsp;&nbsp;&nbsp;6</a>
            <p>|</p>
            <a href="" class="pause"></a>
        	<a href="" class="stop"></a>
          	<span class="menu_border_bottom"></span>
    	</div>
    </div>  
    <!-- /////////////SEARCH////////////-->
   <div class="search">
   	<div class="search_by"><p>Search by:</p><input type="text" /><a href="" class="search_go"><span class="cierre_boton_checkout"></span><b>GO</b></a>
	</div>
   	<div class="search_by">
    	<p>Brand:</p>
        <div class="search_box">
        	<a href="" class="drop_up"></a>
            <ul>
            	<li>HP</li>
                   <!-- <li><a href=""><span></span>Lexmark</a></li>
                    <li><a href=""><span></span>Brother</a></li>
                    <li><a href=""><span></span>Lenovo</a></li>
                    <li class="see_all"><a href="">See all</a></li>-->
            </ul><div class="search_bottom_box"></div>
        </div>
        
    </div>
   	<div class="search_by">
    	<p>Product:</p>
        <div class="search_box">
          	<a href="" class="drop_down"></a>
            <ul>
            	<li>Printers</li>
            </ul><div class="search_bottom_box"></div>
        </div>
    </div>
   	<div class="search_by">
    	<p>Funcionality:</p>
        <div class="search_box">
          	<a href="" class="drop_down"></a>
            <ul>
            	<li>Multifunctional</li>
            </ul><div class="search_bottom_box"></div>
        </div>
    </div>
   	<div class="search_by">
    	<p>Price:</p>
        <div class="search_box">
          	<a href="" class="drop_down"></a>
            <ul>
            	<li>$50-$100</li>
            </ul><div class="search_bottom_box"></div>
        </div>
    </div>
   <div class="search_help">
    	<a href="" class="search_help_button"></a>
        <div class="help_information">
        	 <!--<div class="border_top">
            </div>
           <div class="help_content">
            	<a href="" class="help_close_button"></a>
                <img src="imagenes/search_help_image.gif" />
                <h3>Lorem Isum</h3>
                <div class="help_step_information">
                	<span>1</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="help_step_information">
                	<span>2</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="help_step_information">
                	<span>3</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="help_step_information">
                	<span>4</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>-->
        </div>
    </div>
   </div>
    <!-- ///////////// END OF SEARCH////////////-->
    
    <!-- /////////////LAYOUT ////////////-->
    <div class="layout">
   	    <!-- =======left column=======-->

    	<div class="left_column">
        	<!--========== shopping cart =============-->
        	<div class="shopping_cart">
            	<span class="shopping_cart_border"></span>
            	<h4>Shopping Cart</h4>
                <div class="show">
                <div class="content_shopping">
                    <table cellpadding="0" cellspacing="0">
                    	<thead>
                       		<th>
                                <td><p>Product</p></td>
                                <td class="qty"><p>Qty</p></td>
                        	</th>
                         </thead>
                         <tbody>
                         	<tr>
                            	<td><a href="">Hp Color Laser Jet<br />CP 4005</a><br /><p>$830.99</p></td>
                                <td class="qty"><p>1</p></td>
                             </tr>
                             <tr>
                            	<td><a href="">Konica Minolta<br />Magicolor 2530DL</a><br /><p>$800.00</p></td>
                                <td class="qty"><input type="text" /></td>
                             </tr>
                             <tr>
                            	<td><a href="">Canon PIXMA IP90</a><br /><p>$200.00</p></td>
                                <td class="qty"><p>1</p></td>
                             </tr>
                         </tbody>
                     </table>
                     <div class="subtotal">
                     	<p>Subtotal</p><span>$1830.99</span>
                     </div>
                     <div class="shipping">
                     	<p>Shipping</p><span>$13.90</span>
                     </div>
                     <div class="total">
                     	<p>TOTAL</p><span>$1850.89</span>
                     </div>
                </div>
                <div class="chekcout">
                	 <a href="" class="button_checkout"><span class="cierre_boton_checkout"></span><b>Checkout</b></a>
                </div>
                </div>
                <div class="expand_shopping">
                	<a href=""></a>
                </div>
            </div>
            <!-- end of shopping -->
            <!-- list categories -->
            <div class="list_categories">
            <span class="list_categories_border"></span>
            	<h4>Printers</h4>
                <div class="content_categories">
                    <dl style="width: 138px;">
                        <dt>Categories</dt>
                            <dd><a href="">Color laser prints</a></dd>
                            <dd><a href="">Laser Printers</a></dd>
                            <dd><a href="">Inkjet Printers</a></dd>
                            <dd><a href="">Photo Printers</a></dd>
                            <dd><a href="">Dot Matrix Printers</a></dd>
                            <dd><a href="">Multifunction Printers</a></dd>
                            <dd><a href="">Line Printers</a></dd>
                            <dd><a href="">Plotters Printers</a></dd>
                            <dd><a href="">Label Printers</a></dd>
                            <dd><a href="">Refurbished Printers</a></dd>
                            
                        <dt>Supplies</dt>
                            <dd><a href="">Toner</a></dd>
                            <dd><a href="">Inkjet Cartridges</a></dd>
                            <dd><a href="">Cables</a></dd>
                            <dd><a href="">Paper</a></dd>
                            <dd><a href="">Plotter Paper</a></dd>
                            <dd><a href="">Accessories</a></dd>
                            <dd><a href="">All</a></dd>
                         
                        <dt>Brands</dt>
                            <dd><a href="">Brother</a></dd>
                            <dd><a href="">Dell</a></dd>
                            <dd><a href="">Epson</a></dd>
                            <dd><a href="">HP</a></dd>
                            <dd><a href="">Canon</a></dd>
                            <dd><a href="">IBM</a></dd>
                            <dd><a href="">Samsung</a></dd>
                            <dd><a href="">Xerox</a></dd>
                            <dd><a href="">All</a></dd>         
                    </dl>
            	</div>
            </div>
            <!-- end of list categories -->
             <!-- news -->
            <div class="news">
            	<h5>The Printer Depot newsletter</h5>
                <p>The weekly newsletter to help you learn more about technology and cool promotions.</p>
                <input type="text" style="width: 120px;" value="Your email address"/>
                <input class="sing_up"type="button" value="Sign up" />
            </div>
            <img src="imagenes/sponsors.gif" title="We proudly accept" />
        </div>
   	    <!-- ======= end of left column=======-->
   	    <!-- =======content middle=======-->
        <div class="content_middle">
        	<a href="" class="receive_banner"><img src="imagenes/receive_DVD.jpg" /></a>
        	<h3>HP LJ 2420DN PRINTER REFURBISHED<br /><span>[Q5959A] - REF</span></h3>
            <a href="" class="add_cart_internal">Add to cart</a>
            <div class="menu_internal">
            	<a href="" class="active_internal">Main Info</a><a href="">Specs</a><a href="">Features</a><a href="">Includes</a><a href="" class="warranty">Warranty</a><a href="">Overview</a>
            </div>
            <div class="content_description">
                <div class="content_image_description">
                    <img src="imagenes/printer_internal_description.jpg" />
                    <div class="price">$830.99</div>
                    <a href="" class="large_image">Large Image</a>
                </div>
                <div class="content_text_description">
                    <h5>Summary</h5>
                    <p>
                        HP's consistently clear, sharp images are in reach across your network using the LaserJet 2420dn and HP Smart Printing technology. Make your workplace environmentally friendly with two sided printing, low energy consumption, noise levels and chemical emissions. Plus, you will find your productivity soaring with the 1320's 400 MHz processor and 64 MB of memory. Choose from a variety of connectivity options. This model includes an embedded 10/100 Base-TX Ethernet print server. You can take advantage of this feature by connecting your workgroup and instantly enhance productivity. An automatic duplexer is also built in to make two sided
                        This model includes an embedded 10/100 Base-TX Ethernet print server. You can take advantage of this feature by connecting your workgroup and instantly enhance productivity. An automatic duplexer is also built in to make two sided 
                        
                    </p>    
                </div>
            </div>
            <a href="" class="expand_description"></a>
            <div class="all_kits">
                <h4 class="boredr_top_kits">Check out our kits</h4>
                <div class="content_main_kits">
                    <div class="kit">
                        <span class="stars"><img src="imagenes/3_stars.gif" /></span>
                        <p class="name_kit">Platinum Kit</p>
                        <div class="kit_image"><img src="imagenes/image1_kit.jpg" /></div>
                        <div class="price">$830.99</div>
                        <a href="" class="shopping_catalog"></a>
                        <a href="" class="see_all">View Kit Content</a>
                    </div>
                    <div class="kit">
                        <span class="stars"><img src="imagenes/2_stars.gif" /></span>
                        <p class="name_kit">Golden Kit</p>
                        <div class="kit_image"><img src="imagenes/image2_kit.jpg" /></div>
                        <div class="price">$830.99</div>
                        <a href="" class="shopping_catalog"></a>
                        <a href="" class="see_all">View Kit Content</a>
                    </div>
                    <div class="kit last_kit">
                        <span class="stars"><img src="imagenes/1_stars.gif" /></span>
                        <p class="name_kit">Silver Kit</p>
                        <div class="kit_image"><img src="imagenes/image3_kit.jpg" /></div>
                        <div class="price">$830.99</div>
                        <a href="" class="shopping_catalog"></a>
                        <a href="" class="see_all">View Kit Content</a>
                    </div>
              </div>
            </div>	
            <div class="all_cross">
                <h4>Ink and Toners Cartridges for the HP LJ 2420DN PRINTER <br /><span>Refurbished</span></h4>     
                <div class="content_main_cross">
                	<div class="cross">
                        <div class="content_image_cross"><img src="imagenes/image1_cross.jpg" /></div>
                        <a href="" class="cross_link">HP LJ 2400 / 2420 / 2430 TONER CARTRIDGE NEW OEM</a>
                        <div class="content_price_shop_cross">
                            <div class="price">$830.99</div>
                            <a href="" class="shopping_catalog"></a>
                        </div>
                        	<p class="model">Model: <b>QWTY76</b><br />In stock</p>
                    </div>
                	<div class="cross">
                        <div class="content_image_cross"><img src="imagenes/image2_cross.jpg" /></div>
                        <a href="" class="cross_link">HP LJ 2400 / 2420 / 2430 TONER CARTRIDGE NEW OEM</a>
                        <div class="content_price_shop_cross">
                            <div class="price">$830.99</div>
                            <a href="" class="shopping_catalog"></a>
                        </div>
                        	<p class="model">Model: <b>QWTY76</b><br />In stock</p>
                    </div>
                	<div class="cross">
                        <div class="content_image_cross"><img src="imagenes/image3_cross.jpg" /></div>
                        <a href="" class="cross_link">HP LJ 2400 / 2420 / 2430 TONER CARTRIDGE NEW OEM</a>
                        <div class="content_price_shop_cross">
                            <div class="price">$830.99</div>
                            <a href="" class="shopping_catalog"></a>
                        </div>
                        	<p class="model">Model: <b>QWTY76</b><br />In stock</p>
                    </div>
                </div>    	
          	</div>
          </div>
   	    <!-- =======end of content middle=======-->
   	    <!-- =======right column=======-->
        <div class="right_column">
        	<div class="banner1">
            	<a href=""><img src="imagenes/why_buy_banner.jpg" /></a>
            </div>
            <div class="banner2">
            	<a href=""><img src="imagenes/promo_banner1.jpg" /></a>
            </div>
            <div class="your_security">
            	<h6>Your security</h6>
                <p>Shop with confidence! We guarantee that every transaction you make at The Printer Depot will be 100% safe </p>
            </div><!---->
        </div>    
   	    <!-- =======right column=======-->
    </div>
    <!-- /////////////END OF LAYOUT////////////-->
	<div class="box_footer">
    	<div class="content_box_footer">
            <ul>
                <li class="heading_box_footer">Lorem Ipsum</li>
                <li><a href="">Warranties fellinesgh</a></li>
                <li><a href="">Larens terion</a></li>
                <li><a href="">Warranties fellinesgh</a></li>
                <li><a href="">Larens terion</a></li>
                <li><a href="">Warranties fellinesgh</a></li>
             </ul>
            <ul>
                <li class="heading_box_footer">Lorem Ipsum</li>
                <li><a href="">Larens Warranties fellinesgh</a></li>
                <li><a href="">Larens terion</a></li>
                <li><a href="">Larens terion</a></li>
                <li><a href="">Warranties fellinesgh</a></li>
                <li><a href="">Larens terion</a></li>
             </ul>
            <ul>
                <li class="heading_box_footer">Lorem Ipsum</li>
                <li><a href="">Warranties fellinesgh</a></li>
                <li><a href="">Larens terion</a></li>
                <li><a href="">Larens terion</a></li>
                <li><a href="">Larens terion</a></li>
                <li><a href="">Larens terion</a></li>
             </ul>
            <ul>
                <li class="heading_box_footer">Lorem Ipsum</li>
                <li><a href="">Warranties fellinesgh</a></li>
                <li><a href="">Larens terion</a></li>
                <li><a href="">Warranties fellinesghn</a></li>
                <li><a href="">LaWarranties fellinesghrion</a></li>
                <li><a href="">Larens terion</a></li>
             </ul>
         </div>
         <div class="bottom_box_footer"></div>
    </div>
    <div class="footer">
    	<a href="">Privacy</a>|<a href="">Terms of services</a>|<a href="">Site Map</a>
        <p>Copyright © 2008. Printer Depot. All rights reserved.<br />
All products names throuthout this catalog are trademarks of their respective holders. Click here to read full legal declaimer.</p>
    </div>
    
</div>


</body>
</html>
