        <div class="content_middle">
<h3>Contact Us</h3>
<div class="list_categories">
            <span class="list_categories_border"/>
            	<h4>Personal Contact</h4>
                <div class="content_categories">
                    <dl style="width: 138px;">
                        <dt>Location</dt>
                            <dd><a  href="">The Printer Depot</a></dd>
                            <dd><a href="">3755 Marquis Drive Suite 101</a></dd>
                            <dd><a href="">Garland, TX 75042</a></dd>

                        <dt>Phone numbers</dt>
                            <dd><a href="">Phone: 972-494-3300</a></dd>
                            <dd><a href="">Fax: 972-494-3366</a></dd>
                    </dl>
            	</div>
            </div>

<% for i in 1..9 %>
<br/>
<% end %>
<div class="list_categories">
            <span class="list_categories_border"/>
            	<h4>E-mail Contacts</h4>
                <div class="content_categories">
                    <dl style="width: 138px;">
                        <dt>Sales:</dt>
                            <dd><a href="mailto:gabe@theprinterdepot.net">gabe@theprinterdepot.net</a></dd>
                            <dd><a href="mailto:christopher@theprinterdepot.net">christopher@theprinterdepot.net</a></dd>

                        <dt>Shipping:</dt>
                            <dd><a href="mailto:ashley@theprinterdepot.net">ashley@theprinterdepot.net</a></dd>
                     
                        <dt>Website Support:</dt>
                            <dd><a href="mailto:support@theprinterdepot.net">support@theprinterdepot.net</a></dd>
                    </dl>
            	</div>
            </div>
</div>
